<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
  </root>

  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="MyFinance.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />

    <staticLogFileName value="true" />
    <datePattern value="-dddd" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="header" value="*************************************&#13;&#10;" />
      <conversionPattern value="%date [%thread] %-5level %logger{2} %exception - %newline%message%newline"/>
    </layout>
  </appender>
</log4net>
